<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Argus - Home</title>
    <link rel="stylesheet" href="/static/css/styles.css"> <!-- Optional CSS -->
</head>
<body>
    <header>
        <h1>Welcome to Argus</h1>
        <p>Smart Surveilance System</p>
    </header>

    <nav>
        <ul style="display: flex; align-items: center;">
            <li><a href="/dashboard" class="button">Dashboard</a></li>
            <li><a href="/config" class="button">Configuration</a></li>
            <li>
                <button class="button" style="background-color: lightcoral;" onclick="fetch('/shutdown', { method: 'GET' });alert('All systems shutdown');location.reload()">Shutdown</button>
            </li>
        </ul>
    </nav>

    <main>
        <!-- System Status Section -->
        <section id="system-status">
            <h2>System Status</h2>
            <p>Check the current status of the system.</p>
            <div class="status-cards">
                <div class="card">
                    <h3>Total Nodes</h3>
                    <p>{{ total_nodes }}</p>
                </div>
                <div class="card">
                    <h3>Active Nodes</h3>
                    <p>{{ active_nodes }}</p>
                </div>
                <div class="card">
                    <h3>Alerts</h3>
                    <p>{{ total_alerts }}</p>
                </div>
            </div>
            <hr style="margin: 20px 0;">
            <!-- Alerts Section -->
            <div class="alerts-cards">
                <h3>Node Alerts</h3>
                <div class="status-cards">
                    {% for alert in alerts %}
                    <div class="alert-card">
                        <h3>{{ alert.node_name }}</h3>
                        <p>{{ alert.status }}</p>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </section>

        <!-- Dashboard Section -->
        <section id="dashboard">
            <h2>Dashboard</h2>
            <p>Monitor all the camera feeds and alerts.</p>
            <a href="/dashboard" class="button">Go to Dashboard</a>
        </section>

        <!-- Configuration Section -->
        <section id="configuration">
            <h2>Configuration</h2>
            <p>Configure nodes and manage their settings.</p>
            <a href="/config" class="button">Go to Configuration</a>
        </section>
    </main>

    <footer>
        <p>&copy; 2025 Argus. All rights reserved.</p>
    </footer>
</body>
</html>